@model EntityLayer.Concrete.Admin
@{
    ViewData["Title"] = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Admin Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
         
        @Html.HiddenFor(x => x.AdminID, new{@class="form-control"})
        <br>
        @Html.Label("Admin Kulanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new{@class="form-control"})
        <br>
         @Html.Label("Admin Şifresi")
        @Html.TextBoxFor(x => x.AdminPassword, new{@class="form-control"})
        <br>
         @Html.Label("Admin Rolü")
        @Html.TextBoxFor(x => x.AdminRole, new{@class="form-control"})
        <br>
        @Html.Label("Admin Status")
        @Html.CheckBoxFor(x => x.AdminStatus)
        @Html.Label("True  Veya False")
        <br>
       <button href="" class="btn btn-success">Güncelle</button>
    </div>
}